# Data Science Tools and Ecosystem

**Objectives:**

- List open source tools in Data Science
- Review popular programming languages used by Data Scientists
- Identify the users and benefits of different programming languages

### In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Seaborn
3. Apache spark
4. Vegas

| Data Science Tools |
| -----------|
| R studio |
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author

Taiwo Suara